@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Moderateviolet: hsl(263, 55%, 52%);
  --Verydarkgrayishblue: hsl(217, 19%, 35%);
  --Verydarkblackishblue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(0, 0%, 81%);
  --Lightgrayishblue: hsl(210, 46%, 95%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: var(--Lightgrayishblue);
}

.main {
  width: 100%;
}

.grid-container {
  display: inline-grid;
  margin: 20% auto;
  gap: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.item-no {
  border-radius: 10px;
  padding: 20px 30px;
}

.item1 {
  background: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-color: var(--Moderateviolet);
}

.item2 {
  background-color: var(--Verydarkgrayishblue);
}

.item3,
.item5 {
  background-color: var(--White);
}

.item4 {
  background-color: var(--Verydarkblackishblue);
}

.item-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
}

.item-image {
  border-radius: 50%;
  border: solid 2px var(--Lightgray);
  width: 30px;
  height: 30px;
}

.name {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  color: var(--Lightgray);
}

.status {
  opacity: 0.5;
  color: var(--Lightgray);
}

.achievement {
  font-size: 20px;
  font-weight: 600;
  color: var(--Lightgray);
}

.storyline {
  opacity: 0.7;
  color: var(--Lightgray);
  font-weight: 600;
  word-wrap: break-word;
  line-height: 20px;
}

.item3 .name,
.item5 .name,
.item3 .status,
.item5 .status,
.item3 .storyline,
.item5 .storyline,
.item3 .achievement,
.item5 .achievement {
  color: var(--Verydarkgrayishblue);
}

@media screen and (min-width: 600px) {
  .main {
    display: flex;
  }

  .grid-container {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
  }

  .item-no {
    max-width: 320px;
  }
}

@media screen and (min-width: 1000px) {
  .item1 {
    grid-area: Daniel;
  }
  .item2 {
    grid-area: Jonathan;
  }
  .item3 {
    grid-area: Jeanette;
  }
  .item4 {
    grid-area: Patrick;
  }
  .item5 {
    grid-area: Kira;
  }

  .grid-container {
    display: inline-grid;
    grid-template-areas:
      "Daniel Daniel Jonathan Kira"
      "Jeanette Patrick Patrick Kira";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 80px;
    padding-right: 80px;
  }
  .item-no {
    max-width: 100%;
  }
}
